*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
button {padding: 0;border: none;font: inherit;color: inherit;background-color: transparent;cursor: pointer;}
input::-ms-clear{display: none;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

html, body {
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #000000;
}
.wrapper {
	overflow: hidden;
	opacity: 0;
	transition: all 1s ease 0s;

	&.active{
		opacity: 1;

		& .parallax__wave {
			opacity: 1;
			transition: all 1s ease 1s;
		}
		& .parallax__rope {
			opacity: 1;
			transition: all 1s ease 1.8s;
		}
		& .parallax__lighthouse {
			bottom: 130px;
			transition: all 0.8s ease 2.5s;
		}
	}
}

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	min-width: 360px;
}
.parallax {
	flex: 1 0 100%;
	position: relative;
	overflow: hidden;

	&:after{
		content: '';
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 15%, rgba(0,0,0,0) 70%, rgba(0,0,0,1) 95%);
	}

		&__list {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;

			& li {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
		}

		&__bg {
			position: absolute;
			width: 110%;
			height: 110%;
			top: -5%;
			left: -5%;
			background: url('img/background.jpg') 50% 100% / cover no-repeat;
		}

		&__rope {
			opacity: 0;
			position: absolute;
			width: 120%;
			left: -10%;

			& img {
				width: 100%;
			}

			&_1 {
				top: 5%;
				transform: scale(1);
			}

			&_2 {
				top: -1.66667%;
				transform: scale(1.05556);
			}

			&_3 {
				top: -11.66667%;
				transform: scale(1.13889);
			}
		}

		&__element {
			position: absolute;

			& span {
				display: inline-block;
				transform-origin: 50% 0;
				width: 280px;
				height: 280px;
				margin: 0 0 0 -140px;
				animation: swing 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
			}

			&_1 {
				top: 46%;
				left: 20%;

				&>span {
					background: url('img/clouds/board-cloud-2.png') 0 0 / 100% no-repeat;
				}
			}

			&_2 {
				top: 46%;
				left: 40%;

				&>span {
					background: url('img/clouds/board-cloud-1.png') 0 0 / 100% no-repeat;
				}
			}

			&_3 {
				top: 24%;
				left: 80%;

				&>span {
					background: url('img/clouds/board-birds.png') 0 0 / 100% no-repeat;
				}
			}

			&_4 {
				left: 10%;
				top: 17%;

				&>span {
					background: url('img/clouds/board-cloud-1.png') 0 0 / 100% no-repeat;
				}
			}

			&_5 {
				left: 50%;
				top: 50%;

				&>span {
					background: url('img/clouds/board-cloud-4.png') 0 0 / 100% no-repeat;
				}
			}

			&_6 {
				left: 30%;
				top: 57%;

				&>span {
					background: url('img/clouds/board-birds.png') 0 0 / 100% no-repeat;
				}
			}

			&_7 {
				left: 60%;
				top: 65%;

				&>span {
					background: url('img/clouds/board-cloud-2.png') 0 0 / 100% no-repeat;
				}
			}

			&_8 {
				left: 80%;
				top: 45%;

				&>span {
					background: url('img/clouds/board-cloud-3.png') 0 0 / 100% no-repeat;
				}
			}
		}

		&__wave {
			opacity: 0;
			position: absolute;
			background: url('img/waves/wave-plain.png') 0 0 / auto 101% repeat-x;
			left: -100%;
			width: 300%;

			&_1 {
				bottom: 180px;
				height: 86px;
				animation: wave 7.11111s 0.1s infinite linear;
				background: url('img/waves/wave-paint.png') 0 0 / auto 101% repeat-x;
			}

			&_2 {
				bottom: 144px;
				height: 115px;
				animation: wave 6.66667s 0.1s infinite linear;
			}

			&_3 {
				bottom: 108px;
				height: 144px;
				animation: wave 6.22222s 0.1s infinite linear;
				background: url('img/waves/wave-paint.png') 0 0 / auto 101% repeat-x;
			}

			&_4 {
				bottom: 72px;
				height: 173px;
				animation: wave 5.77778s 0.1s infinite linear;
			}

			&_5 {
				bottom: -1px;
				height: 230px;
				animation: wave 4.8888s 0.1s infinite linear;
			}

			&_6 {
				bottom: -72px;
				height: 288px;
				animation: wave 4.5s 0.1s infinite linear;
				background: url('img/waves/wave-paint.png') 0 0 / auto 101% repeat-x;
			}
		}

		&__lighthouse {
			background: url('img/lighthouse.png') 0 0 / 100% no-repeat;
			width: 13vw;
			height: 20vw;
			position: absolute;
			right: 12%;
			bottom: -100%;
			animation: lighthouse 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
		}
}
.content {
}
@keyframes swing {
	0% {
		transform: rotateZ(10deg);
	}
	100% {
		transform: rotateZ(-10deg);
	}
}
@keyframes wave {
	0% {
		transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
	}
	100% {
		transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
	}
}
@keyframes lighthouse {
	0% {
		transform: translate3d(15%, 0, 0) rotateZ(10deg);
	}
	100% {
		transform: translate3d(-15%, 0, 0) rotateZ(-10deg);
	}
}

.parallax__rope_1 .parallax__element {
	transform: scale(0.6);
}

.parallax__rope_2 .parallax__element {
	transform: scale(0.75556);
}

.parallax__rope_3 .parallax__element {
	transform: scale(0.98889);
}


@media (min-width: 2500px) {
	.parallax { 
		&__element {
			&_1 {
				top: 33%;
			}
			&_2 {
				top: 52%;
			}
			&_3 {
				top: 31%;
			}
			&_4 {
				top: 20%;
			}
			&_5 {
				top: 60%;
			}
			&_6 {
				top: 58%;
			}
			&_7 {
				top: 66%;
			}
			&_8 {
				top: 46%;
			}
		}
	}
}
@media (min-width: 2300px) and (max-width: 2499px) {
	.parallax { 
		&__element {
			&_1 {
				top: 33%;
			}
			&_2 {
				top: 52%;
			}
			&_3 {
				top: 29%;
			}
			&_4 {
				top: 20%;
			}
			&_5 {
				top: 60%;
			}
			&_6 {
				top: 58%;
			}
			&_7 {
				top: 66%;
			}
			&_8 {
				top: 46%;
			}
		}
	}
}
@media (min-width: 2100px) and (max-width: 2299px) {
	.parallax { 
		&__element {
			&_1 {
				top: 31%;
			}
			&_2 {
				top: 50%;
			}
			&_3 {
				top: 27%;
			}
			&_4 {
				top: 19%;
			}
			&_5 {
				top: 58%;
			}
			&_6 {
				top: 58%;
			}
			&_7 {
				top: 66%;
			}
			&_8 {
				top: 46%;
			}
		}
	}
}
@media (min-width: 1900px) and (max-width: 2099px) {
	.parallax { 
		&__element {
			&_1 {
				top: 29%;
			}
			&_2 {
				top: 48%;
			}
			&_3 {
				top: 25%;
			}
			&_4 {
				top: 18%;
			}
			&_5 {
				top: 57%;
			}
			&_6 {
				top: 58%;
			}
			&_7 {
				top: 66%;
			}
			&_8 {
				top: 45%;
			}
		}
	}
}
@media (min-width: 1700px) and (max-width: 1899px) {
	.parallax { 
		&__element {
			&_1 {
				top: 27%;
			}
			&_2 {
				top: 46%;
			}
			&_3 {
				top: 23%;
			}
			&_4 {
				top: 16%;
			}
			&_5 {
				top: 56%;
			}
			&_6 {
				top: 58%;
			}
			&_7 {
				top: 66%;
			}
			&_8 {
				top: 45%;
			}
		}
	}
}
@media (min-width: 1500px) and (max-width: 1699px) {
	.parallax { 
		&__element {
			&_1 {
				top: 24%;
			}
			&_2 {
				top: 43%;
			}
			&_3 {
				top: 20%;
			}
			&_4 {
				top: 14%;
			}
			&_5 {
				top: 54%;
			}
			&_6 {
				top: 57%;
			}
			&_7 {
				top: 65%;
			}
			&_8 {
				top: 44%;
			}
		}
	}
}
@media (min-width: 1300px) and (max-width: 1499px) {
	.parallax { 
		&__element {
			&_1 {
				top: 21%;
			}
			&_2 {
				top: 40%;
			}
			&_3 {
				top: 17%;
			}
			&_4 {
				top: 13%;
			}
			&_5 {
				top: 52%;
			}
			&_6 {
				top: 57%;
			}
			&_7 {
				top: 65%;
			}
			&_8 {
				top: 44%;
			}
		}
	}
}
@media (min-width: 1100px) and (max-width: 1299px) {
	.parallax { 
		&__element {
			&_1 {
				top: 18%;
			}
			&_2 {
				top: 35%;
			}
			&_3 {
				top: 12%;
			}
			&_4 {
				top: 11%;
			}
			&_5 {
				top: 50%;
			}
			&_6 {
				top: 56%;
			}
			&_7 {
				top: 64%;
			}
			&_8 {
				top: 43%;
			}
		}
	}
}
@media (min-width: 900px) and (max-width: 1099px) {
	.parallax { 
		&__element {
			&_1 {
				top: 12%;
			}
			&_2 {
				top: 29%;
			}
			&_3 {
				top: 6%;
			}
			&_4 {
				top: 8%;
			}
			&_5 {
				top: 46%;
			}
			&_6 {
				top: 56%;
			}
			&_7 {
				top: 64%;
			}
			&_8 {
				top: 43%;
			}
		}
	}
}
@media (min-width: 300px) and (max-width: 899px) {
	.parallax { 
		&__element {
			&_1 {
				top: 4%;
			}
			&_2 {
				top: 21%;
			}
			&_3 {
				top: -3%;
			}
			&_4 {
				top: 2%;
			}
			&_5 {
				top: 40%;
			}
			&_6 {
				top: 56%;
			}
			&_7 {
				top: 64%;
			}
			&_8 {
				top: 43%;
			}
		}
	}
}

